<div class="comic-covers-single-container">
    <img src= "images/<%= comic.image %>" class="comic-covers-img">
        <figcaption class="desc-container"><em><%= comic.title %></em> <%= comic.author %> <br> <%= comic.rating %><a href="./books/<%= comic._id %>">Details</a>
        </figcaption>
</div>