<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="body-background">
        <div class="card">
            <div class="card-top">
                <h2 class="card-title"><%= comicDetail.title %></h2>
                <div class="card-img-container"><img class="card-img" src="/images/<%= comicDetail.image %>"></div>
            </div>
            <div class= "card-bottom">
            <ul class="card-desc">
                <li class="card-item"><span class="card-titles">Title:</span><span class="italic"> <%= comicDetail.title %> </span></li>
                <li class="card-item"><span class="card-titles">Author:</span> <%= comicDetail.author %></li>
                <li class="card-item"><span class="card-titles">Publisher:</span> <%= comicDetail.publisher %></li>
                <li class="card-item"><span class="card-titles">Genre:</span> <%= comicDetail.genre %></li>
                <li class="card-item"><span class="card-titles">Number of pages:</span> <%= comicDetail.pages %></li>
                <li class="card-item"><span class="card-titles">Rating:</span> <%= comicDetail.rating %></li>
                <li class="card-item"><span class="card-titles">Synopsis:</span><span class="paragraph">
                    <%= comicDetail.synopsis %></span></li>
            </ul></div>
        </div>
    </div>
<%- include('../partials/footer') -%>