<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="body-background"><div class="body-container">
    <h1>UPDATE COMIC</h1>
       <form action="/admin/?_method=PUT" class="form" method="POST">
        <label for="title" class="label">Title:
        <input type="text" id="title" name="title" value="<%= comicDetail.title %>"></label>
        <label for="author" class="label">Author:
        <input type="text" id="author" name="author" value="<%= comicDetail.author %>"></label>
        <label for="publisher" class="label">Publisher:
        <select id="publisher" name="publisher">
            <option value="boombox">BOOM! Box</option>
            <option value="dccomics">DC Comics</option>
            <option value="harryabrams">Harry N. Abrams</option>
            <option value="iconbooks">Icon Books</option>
            <option value="imagecomics">Image Comics</option>
            <option value="marvel">Marvel</option>
            <option value="simonschuster">Simon & Schuster</option>
            <option value="topshelfprod">Top Shelf Productions</option>
            <option value="vizmedia">VIZ Media LLC</option>
            <option value="kodansha" selected>Kodansha</option>
            </select></label>
        <label for="genre" class="label">Genre:
        <input type="text" id="genre" name="genre" value="<%= comicDetail.genre %>"></label>
        <label for="pages" class="label">Number of Pages:
        <input type="text" id="pages" name="pages" value="<%= comicDetail.pages %>"></label>
        <label for="rating" class="label">Rating:
        <input type="text" id="rating" name="rating" value="<%= comicDetail.rating %>"></label>
        <label for="synopsis" class="label">Synopsis:
        <textarea name="synopsis" id="synopsis" value=><%= comicDetail.synopsis %></textarea></label>
        <label for="image" class="label">Image:
        <input type="text" id="image" name="image" value="<%= comicDetail.image %>"></label>
        </form>
        <div class="button-center"><button class="button-center">Submit</button></div>  
    </div></div>
<%- include('../partials/footer') -%>